exportClass(Rhttpd,RhttpdApp,RhttpdInputStream,RhttpdErrorStream)
export(Rhttpd,RhttpdApp,RhttpdInputStream,RhttpdErrorStream)
exportClass(Utils,Multipart)
export(Utils,Multipart)
exportClass(Request,Response,Mime)
export(Request,Response,Mime)
exportClass(File,Static,Builder,App,Middleware,URLMap)
export(File,Static,Builder,App,Middleware,URLMap)
exportClass(Brewery,Redirect)
export(Brewery,Redirect)
export(is_rookable)
useDynLib(Rook,.registration=TRUE)
