exportClass(Rhttpd,RhttpdApp,RhttpdInputStream,RhttpdErrorStream)
export(Rhttpd,RhttpdApp,RhttpdInputStream,RhttpdErrorStream)
exportClass(Utils,Multipart)
export(Utils,Multipart)
exportClass(Request)
export(Request)
useDynLib(Rack,.registration=TRUE)
